<form action="/create_meetup" method="post">
  <label for="name">Event name:</label>
  <input style="width:250px" type="text" id="name" name="name" required/>
  <br>
  <label for="location">Location:</label>
  <input style="width:250px" type="text" id="location" name = "location" required/>
  <br>
  <label for="description">Description:</label>
  <input style="height:150px; width:300px" type="text" id="description" name="description" required/>

  <input type="submit" value="Submit">
</form>
