<br>

<form action="/create_meetup" method="post">
  <label for="name">Event name:</label>
  <input style="width:300px" type="text" id="name" name="name" required/>
  <br>

  <span style="padding-left:26px"></span>
  <label for="location">Location:</label>
  <input style="width:300px" type="text" id="location" name = "location" required/>
  <br>

  <span style="padding-left:7px"></span>
  <label for="description">Description:</label>
  <input style="height:150px; width:300px" type="text" id="description" name="description" required/>

  <br>
  <span style="padding-left:217px"></span><input type="submit" value="Submit">
</form>
